@{
    Layout = "~/_Layout.cshtml";
}
<p>
    Select Station:
    <select id="stationSelect">
        <option>Select Station</option>
        <optgroup label="London">
            <option value="EUS">Euston</option>
        </optgroup>
        <optgroup label="West Midlands">
            <option value="BHM">Birmingham New Street</option>
            <option value="WVH">Wolverhampton</option>
        </optgroup>
    </select>
</p>
@section js{
    <script type="text/javascript">
        $(function () {
            $("#stationSelect").change(function () {
                if ($(this).val().length > 0) {
                    document.location.href = "/" + $(this).val();
                }
            });
        });
    </script>
}