@{
    Layout = "~/_Layout.cshtml";
}
<h1><a href="http://www.trainnotifier.co.uk/search/at/WVH" target="_blank" title="View full schedule">Wolverhampton</a></h1>
<div class="row" style="overflow:auto;">
    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/app/svg/wvh.svg")))
</div>
<div class="row">
    <div class="alert alert-info">Click on an identifier (e.g. 1D56) to view more train details</div>
    <div class="alert alert-info">More stations to be added in due time</div>
</div>
@section js{
<script type="text/javascript">
    TrainNotifier.Common.stationCode = 'WVH';
</script>
    }